/* reset the box sizing because it makes styling so much easier */
/* always add this at the beginning of css files  */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* classic resets to do for all css are setting the body margin, line height,
 the image max width and display, and margin for h1,2,3 and p  */

 /* start off css designing for mobile and try to design generic/reusable
 classes first */

body {
    margin: 0;
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3, p {
    margin: 0;
}

.container {
    width: 85%;
    /* 65 * 16 will translate em to pixels  */
    max-width: 65em;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: .5em 1.25em;
    /* different approach to css variables where we didn't declare it in the beginning */
    background: var(--clr-accent, rgb(106, 106, 255));
    color: var(--clr-text, white);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    border-radius: .25em;
    transition: 
        transform 250ms ease-in-out,
        opacity 175ms linear;
}

.btn:hover, .btn:focus {
    transform: scale(1.1);
    opacity: .9;
}

.header-title {
    font-size: 4rem;
    /* can also use clamp with font size  */
    line-height: 1;
    text-transform: uppercase;
}

.section-title{

}

.hero {
    color: white;
    text-shadow: 0 1px 2px black;
    text-align: center;
    padding: 10em 0;
    background-image: url(https://picsum.photos/250);
        /* to fix repeating transparent image, bring in a radial gradient 
        radial-gradient(#444, #111) */
    background-size: cover;
    @supports (background-blend-mode: multiply;) {
        background-color: blue;
    /* allows you to blend layers - really nice for blending images and colors or gradients  */
    background-blend-mode: lighten;
    }
}