/* reset the box sizing because it makes styling so much easier */
/* always add this at the beginning of css files  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* classic resets to do for all css are setting the body margin, line height,
 the image max width and display, and margin for h1,2,3 and p  */
/* start off css designing for mobile and try to design generic/reusable
 classes first */
body {
  margin: 0;
  line-height: 1.5;
}

.image__container {
  height: 50%;
  width: 50%;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  padding: 5em 0;
}

.container {
  width: 85%;
  /* 65 * 16 will translate em to pixels  */
  max-width: 65em;
  margin: 0 auto;
}

.column {
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
  justify-content: center;
}
.column > * {
  flex-basis: 30%;
  min-width: 15em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 1.25em;
  /* different approach to css variables where we didn't declare it in the beginning */
  background: var(--clr-accent, #6a6aff);
  color: var(--clr-text, white);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  border-radius: 0.25em;
  transition: transform 250ms ease-in-out, opacity 175ms linear;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: 0.9;
}

.header-title {
  font-size: clamp(1rem, 10vw, 2rem);
  /* can also use clamp with font size if using sass  */
  line-height: 1;
  text-transform: uppercase;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 3rem;
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.hero {
  color: white;
  text-shadow: 0 1px 2px black;
  text-align: center;
  padding: 10em 0;
  background-image: url(https://picsum.photos/250);
  /* to fix repeating transparent image, bring in a radial gradient 
        radial-gradient(#444, #111) */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@supports (background-blend-mode: lighten) {
  .hero {
    background-color: #6262ff;
    /* allows you to blend layers - really nice for blending images and colors or gradients  */
    background-blend-mode: lighten;
  }
}
.hero .container {
  border: 2px solid white;
  padding: 2em;
}

.separator {
  padding: 10em 0;
  background-image: url(https://picsum.photos/250);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.featured {
  background: aliceblue;
}
.featured__project {
  position: relative;
  transform: scale(0.85);
  transition: transform 250ms ease-in-out;
  text-decoration: none;
  text-align: center;
}
.featured__project:hover, .featured__project:focus {
  transform: scale(1);
}
.featured__project:hover .featured__details, .featured__project:focus .featured__details {
  opacity: 1;
}
.featured__project::after {
  content: "";
  top: -1.75rem;
  left: -1.75rem;
  position: absolute;
  padding: 19rem 19rem 0 0;
  background: white;
  z-index: -1;
}
.featured__details {
  opacity: 0;
  transition: opacity 250ms linear;
  text-align: center;
  padding-right: 3em;
}
.featured__details span {
  display: block;
  font-weight: 700;
  font-size: 1rem;
}

.moving__project {
  display: flex;
  justify-content: center;
}

.project {
  background: radial-gradient(white, aliceblue);
  padding: 3em;
  border-radius: 1em;
  margin-bottom: 3em;
  text-align: center;
}
.project__title {
  font-size: 2em;
  line-height: 1em;
  margin: 0.5em auto;
}
.project__text {
  display: none;
}

.moving__project {
  margin: 0;
}

@media (min-width: 46em) {
  .project__text {
    display: block;
  }

  .image__container {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .myprojects__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "first_image" "second_image" "third_image";
    row-gap: 10em;
  }

  .first__project {
    grid-area: first_image;
  }

  .second__project {
    grid-area: second_image;
    justify-self: end;
    text-align: right;
  }
  .second__project .project__image {
    display: inline;
  }

  .third__project {
    grid-area: third_image;
  }

  .moving__project {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "image1 text1 text1 ." ". text2 text2 image2" "image3 text3 text3 .";
    column-gap: 1em;
  }
  .moving__project #portfolio__offer {
    grid-area: image1;
  }
  .moving__project #portfolio__text {
    grid-area: text1;
  }
  .moving__project #landingpage__offer {
    grid-area: image2;
  }
  .moving__project #landingpage__text {
    grid-area: text2;
  }
  .moving__project #businesspage__offer {
    grid-area: image3;
  }
  .moving__project #businesspage__text {
    grid-area: text3;
  }
}

/*# sourceMappingURL=main.css.map */
